[?25l[90mΓöé[39m
[?25h-- ============================================================================
-- MAGI Food Ordering App ΓÇö Realtime Configuration
-- File: 04_realtime.sql
-- Description: Adds tables to the Supabase Realtime publication so that
--              clients can subscribe to live INSERT / UPDATE / DELETE events.
-- Run AFTER 01_schema.sql.
-- ============================================================================
-- NOTE: You can also enable Realtime via the Supabase Dashboard:
--       Dashboard ΓåÆ Database ΓåÆ Replication ΓåÆ supabase_realtime
--       Then toggle on the tables you want to broadcast changes for.
-- Use a DO block to prevent errors if the tables are already in the publication
DO $$
BEGIN
  -- Enable realtime on the orders table
  IF NOT EXISTS (SELECT 1 FROM pg_publication_tables WHERE pubname = 'supabase_realtime' AND tablename = 'orders') THEN
    ALTER PUBLICATION supabase_realtime ADD TABLE orders;
  END IF;
  -- Enable realtime on the order_items table
  IF NOT EXISTS (SELECT 1 FROM pg_publication_tables WHERE pubname = 'supabase_realtime' AND tablename = 'order_items') THEN
    ALTER PUBLICATION supabase_realtime ADD TABLE order_items;
  END IF;
  -- Enable realtime on the split_bill_participants table (useful for live verification updates)
  IF NOT EXISTS (SELECT 1 FROM pg_publication_tables WHERE pubname = 'supabase_realtime' AND tablename = 'split_bill_participants') THEN
    ALTER PUBLICATION supabase_realtime ADD TABLE split_bill_participants;
  END IF;
END $$;

