[?25l[90mΓöé[39m
[35mΓùÆ[39m  Downloading snippet[1G[J[35mΓùÉ[39m  Downloading snippet[1G[J[35mΓùô[39m  Downloading snippet[1G[J[?25h-- ============================================================================
-- MAGI Food Ordering App ΓÇö Database Schema
-- File: 01_schema.sql
-- Description: Creates all tables, helper functions, and triggers.
-- Run this FIRST in the Supabase SQL Editor.
-- ============================================================================
-- ============================================================================
-- 1. RESTAURANT TABLES
-- Represents physical tables in the restaurant.
-- ============================================================================
CREATE TABLE IF NOT EXISTS restaurant_tables (
  id         uuid        PRIMARY KEY DEFAULT gen_random_uuid(),
  table_number integer   NOT NULL UNIQUE,
  capacity   integer     NOT NULL,
  status     text        NOT NULL DEFAULT 'tersedia'
    CHECK (status IN ('tersedia', 'digunakan', 'reserved')),
  created_at timestamptz DEFAULT now()
);
COMMENT ON TABLE  restaurant_tables IS 'Physical dining tables in the restaurant.';
COMMENT ON COLUMN restaurant_tables.status IS 'tersedia = available, digunakan = in use, reserved = reserved';
-- ============================================================================
-- 2. MENU ITEMS
-- The food & drink catalogue.
-- ============================================================================
CREATE TABLE IF NOT EXISTS menu_items (
  id           uuid        PRIMARY KEY DEFAULT gen_random_uuid(),
  name         text        NOT NULL,
  category     text        NOT NULL
    CHECK (category IN ('makanan', 'minuman', 'dessert')),
  description  text,
  price        integer     NOT NULL,
  image_url    text,
  is_available boolean     DEFAULT true,
  created_at   timestamptz DEFAULT now()
);
COMMENT ON TABLE  menu_items IS 'Restaurant menu catalogue (makanan, minuman, dessert).';
-- ============================================================================
-- 3. ORDERS
-- Each row is one customer order placed from a specific table.
-- ============================================================================
CREATE TABLE IF NOT EXISTS orders (
  id              uuid        PRIMARY KEY DEFAULT gen_random_uuid(),
  order_code      text        NOT NULL UNIQUE,
  table_number    integer     NOT NULL,
  customer_note   text,
  total_price     integer     NOT NULL,
  payment_method  text        NOT NULL
    CHECK (payment_method IN ('qris', 'tunai', 'kartu_debit')),
  payment_status  text        NOT NULL DEFAULT 'dummy_paid'
    CHECK (payment_status IN ('belum_dibayar', 'menunggu_verifikasi', 'dummy_paid', 'paid', 'failed')),
  payment_amount  integer,
  is_split_bill   boolean     DEFAULT false,
  split_amount    integer     DEFAULT 0,
  order_status    text        NOT NULL DEFAULT 'menunggu_dimasak'
    CHECK (order_status IN ('menunggu_verifikasi_pembayaran', 'menunggu_dimasak', 'siap_diantar', 'selesai', 'dibatalkan')),
  created_at      timestamptz DEFAULT now(),
  updated_at      timestamptz DEFAULT now()
);
COMMENT ON TABLE  orders IS 'Customer orders with payment and kitchen status tracking.';
COMMENT ON COLUMN orders.order_code IS 'Human-readable unique code shown to customers (e.g. MAGI-XXXX).';
COMMENT ON COLUMN orders.order_status IS 'menunggu_dimasak ΓåÆ siap_diantar ΓåÆ selesai | dibatalkan';
-- ============================================================================
-- 4. ORDER ITEMS
-- Line items belonging to an order.
-- ============================================================================
CREATE TABLE IF NOT EXISTS order_items (
  id           uuid        PRIMARY KEY DEFAULT gen_random_uuid(),
  order_id     uuid        NOT NULL REFERENCES orders(id) ON DELETE CASCADE,
  menu_item_id uuid        REFERENCES menu_items(id),
  menu_name    text        NOT NULL,
  quantity     integer     NOT NULL,
  price        integer     NOT NULL,
  subtotal     integer     NOT NULL,
  created_at   timestamptz DEFAULT now()
);
COMMENT ON TABLE order_items IS 'Individual line items within an order.';
-- ============================================================================
-- 5. STAFF PROFILES
-- Linked to Supabase Auth users. Determines role-based access.
-- ============================================================================
CREATE TABLE IF NOT EXISTS staff_profiles (
  id         uuid        PRIMARY KEY REFERENCES auth.users(id) ON DELETE CASCADE,
  name       text        NOT NULL,
  role       text        NOT NULL
    CHECK (role IN ('admin', 'dapur', 'waiter')),
  created_at timestamptz DEFAULT now()
);
COMMENT ON TABLE  staff_profiles IS 'Staff accounts linked to auth.users with role-based access.';
COMMENT ON COLUMN staff_profiles.role IS 'admin = manager, dapur = kitchen, waiter = waiter';
-- ============================================================================
-- 6. SPLIT BILL PARTICIPANTS
-- Tracks individual contributions when a table splits the bill.
-- ============================================================================
CREATE TABLE IF NOT EXISTS split_bill_participants (
  id               uuid        PRIMARY KEY DEFAULT gen_random_uuid(),
  order_id         uuid        REFERENCES orders(id) ON DELETE CASCADE,
  participant_name text        NOT NULL,
  amount           integer     NOT NULL,
  payment_status   text        DEFAULT 'belum_bayar'
    CHECK (payment_status IN ('belum_bayar', 'menunggu_verifikasi', 'terverifikasi', 'ditolak')),
  created_at       timestamptz DEFAULT now()
);
COMMENT ON TABLE split_bill_participants IS 'Tracks per-person amounts when an order bill is split.';
-- ============================================================================
-- HELPER FUNCTION: get_my_role()
-- Returns the current authenticated user's role from staff_profiles.
-- Used inside RLS policies to enforce role-based access.
-- ============================================================================
CREATE OR REPLACE FUNCTION get_my_role()
RETURNS text
LANGUAGE sql
STABLE
SECURITY DEFINER
AS $$
  SELECT role
  FROM staff_profiles
  WHERE id = auth.uid();
$$;
COMMENT ON FUNCTION get_my_role() IS 'Returns the role of the currently authenticated user (admin, dapur, waiter).';
-- ============================================================================
-- TRIGGER FUNCTION: update_updated_at()
-- Automatically sets updated_at = now() on every UPDATE to the orders table.
-- ============================================================================
CREATE OR REPLACE FUNCTION update_updated_at()
RETURNS trigger
LANGUAGE plpgsql
AS $$
BEGIN
  NEW.updated_at = now();
  RETURN NEW;
END;
$$;
-- Attach the trigger to the orders table.
DROP TRIGGER IF EXISTS set_orders_updated_at ON orders;
CREATE TRIGGER set_orders_updated_at
  BEFORE UPDATE ON orders
  FOR EACH ROW
  EXECUTE FUNCTION update_updated_at();
COMMENT ON FUNCTION update_updated_at() IS 'Trigger function that stamps updated_at = now() on row update.';
-- ============================================================================
-- 7. PATCH EXISTING TABLES (If they already exist)
-- Ensures new columns and updated check constraints are applied.
-- ============================================================================
DO $$ 
BEGIN 
  -- Add new columns safely
  ALTER TABLE orders ADD COLUMN IF NOT EXISTS payment_amount integer;
  ALTER TABLE orders ADD COLUMN IF NOT EXISTS is_split_bill boolean DEFAULT false;
  ALTER TABLE orders ADD COLUMN IF NOT EXISTS split_amount integer DEFAULT 0;
  -- Update payment_status check constraint
  ALTER TABLE orders DROP CONSTRAINT IF EXISTS orders_payment_status_check;
  ALTER TABLE orders ADD CONSTRAINT orders_payment_status_check 
    CHECK (payment_status IN ('belum_dibayar', 'menunggu_verifikasi', 'dummy_paid', 'paid', 'failed'));
  -- Update order_status check constraint
  ALTER TABLE orders DROP CONSTRAINT IF EXISTS orders_order_status_check;
  ALTER TABLE orders ADD CONSTRAINT orders_order_status_check 
    CHECK (order_status IN ('menunggu_verifikasi_pembayaran', 'menunggu_dimasak', 'siap_diantar', 'selesai', 'dibatalkan'));
  -- Update split_bill_participants check constraint
  ALTER TABLE split_bill_participants DROP CONSTRAINT IF EXISTS split_bill_participants_payment_status_check;
  ALTER TABLE split_bill_participants ADD CONSTRAINT split_bill_participants_payment_status_check 
    CHECK (payment_status IN ('belum_bayar', 'menunggu_verifikasi', 'terverifikasi', 'ditolak'));
EXCEPTION WHEN OTHERS THEN
  -- Ignored
END $$;

